<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site1.master.cs" Inherits="Mail_Management.Site1" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <center>
            <h1>Mail Management</h1>
            <hr />
            <table width="100%">
                <tr>
                    <td align="center"><a href="page_signin.aspx">SignUp</a></td> 
                    <td align="center"><a href="page_login.aspx">Login</a></td>
                </tr>
            </table>
            <hr />
        </center>
        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
</body>
</html>
